.blogImg{
    width: 100%;
    max-width: 600px;
}

.blogCont {
    padding-left: 600px;
    padding-top: 150px;
    font-family: Times New Roman, serif; 
    white-space: pre-line;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

}
.pCont p{
    width: 50%;
}


.pCont{
    display: inline-block;
    vertical-align: middle;
    justify-content: space-between;
}



@media screen and (max-width: 500px){
    .blogImg{
        width: 97%;
        max-width: 500px;
    }

    .blogCont {
        padding-left: 10px;
        padding-top: 180px;
    }

    .pCont{
        padding-left: 15px;
    }

    .pCont p{
        width: 95%;
    }

    /*.p1{*/
    /*    width: 90%;*/
    /*}*/



    /*.p8{*/
    /*    width: 95%;*/
    /*}*/

    /*.p9{*/
    /*    width: 90%;*/
    /*}*/
    /*.p10{*/
    /*    width: 90%;*/
    /*}*/

    /*.p12{*/
    /*    width: 90%;*/
    /*}*/


    /*.p13{*/
    /*    width: 95%;*/
    /*}*/

    /*.p28{*/
    /*    width: 95%;*/
    /*}*/
    /*.p32{*/
    /*    width: 95%;*/
    /*}*/

}