@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');



.fto{
    margin-top: 200px;
}

.fto .foto{
    width: 100%;
    height: 90%;
    padding-left: 25px;
}

.mainCt{
display: flex;
flex-direction: row;
    gap: 20px;

}

.writeUp{
    padding: 0 50px;
    margin-top: 100px;
    font-family: Times New Roman, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

@media screen and (max-width: 500px){

    .mainCt{
        flex-direction: column;
    }

    .writeUp{
        margin-top: -25px;
        padding: 0 20px;

    }

    .fto{
        margin-top: 70px;
    }

    .fto .foto{
        width: 89%;
        height: 80%;
        padding-left: 20px;

    }
}