@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.foto{
    width: 38%;


}

.mainCt{
display: flex;
flex-direction: row;
    gap: 20px;

}

.writeUp{
    margin-top: 100px;
    margin-left: 20px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    width: 58%;

}

@media screen and (max-width: 500px){
    .foto{
        width: 100%;
    }
    .mainCt{
        flex-direction: column;
    }

    .writeUp{
        margin-top: -25px;
        margin-left: 15px;
        width: 93%;
    }
}