.bookCont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
}
.bookCont img{
    width: 55%;
}
.book1{
    margin-left: 200px;
}

.book2 img{
    width: 57%;
}


.book1 span, h4{
    display: flex;
    flex-direction: column;
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: italic;


}

.lnk{
    color: red;
    text-decoration: none;
}

.span2{
    width: 70%;
}
.wrt{
    width: 50%;
}
@media screen and (max-width: 500px){
    h3{
        width: 80%;
    }
    .bookCont img{
        width: 93%;
    }
    .bookCont{
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 100px;
    }
    .span2{
        width: 80%;
    }

    .book1{
        margin-left: 20px;
    }

    .book2 h3 ,.book2 h4{
        padding: 0 20px;
    }

    .wrt{
        width: 85%;
    }
}