.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding-top: 100px;
    font-family: Times New Roman, serif;
}

.bookContainer {
    max-width: 800px;
    padding: 20px;
    margin-left: 130px;
    background-color: #fff5ee;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    border: 1px solid #ddd;
}

.bookHeader h1, .bookHeader h2 {
    color: #34568B;
}

.bookImage {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 20px 0;
}

.bookDescription {
    color: #333;
    font-size: 19px;
    text-align: justify;
}

.authorInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.authorImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.bookLinks {
    margin-top: 20px ;
    justify-content: center;
    align-items: center;
    display: flex;
}

.bookLink {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

.bookLink:hover {
    background-color: #45a049;
}

.additionalBookSection {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 300px;
    padding-top: 100px;
}

.additionalBookImage {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.additionalBookInfo {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.additionalBookSectionMobile{
    display: none;
}

@media screen and (max-width: 500px){
    .mainContainer {
        flex-direction: column;
        padding-top: 150px;

    }

    .additionalBookSection {
        display: none;

    }
    .authorInfo {
        display: none;
    }

    .bookContainer {
        background-color: #fff;
        margin-left: 1px;
        box-shadow: none;
        border: none;
    }
    .additionalBookSectionMobile{
        display: block;
        margin-left: 30px;
    }

    .bookLink {
        padding: 15px 7px;
        font-size: 15px;
    }

}
